---
import LogoDuo from "./LogoDuo.astro";
---

<header class="container mx-auto py-12 flex justify-between items-center">
  <a href="/"><LogoDuo /></a>

  <div>
    <nav>
      <ul class="flex items-center gap-4">
        <li>
          <a href="https://gpt-4-1-use.vercel.app/" class="bg-zinc-900 hover:bg-black dark:bg-white dark:hover:bg-zinc-200 dark:text-zinc-900 text-white font-medium py-2 px-8 rounded-full transition-all hover:shadow-md">Try DevGPT</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
