<header class="container mx-auto py-12 flex justify-between items-center">
  <a href="/" class="hover:opacity-80 transition-opacity">
    <img src="/cat.svg" alt="OFFELINE Logo" class="h-25 w-27" />
  </a>

  <div>
    <nav>
      <ul class="flex items-center gap-4">
        <li>
          <a href="https://www.offeline.com/" class="bg-zinc-900 hover:bg-black dark:bg-white dark:hover:bg-zinc-200 dark:text-zinc-900 text-white font-medium py-2 px-8 rounded-full transition-all hover:shadow-md">Try OFFELINE</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
